# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.db

# Node
frontend/node_modules/
frontend/dist/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
.env
backend/.env
ansible/secrets.yml
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
backend/.venv/
backend/data/
frontend/node_modules/
frontend/dist/
**/__pycache__/
*.pyc
*.db
terraform.exe
*.exe
.terraform/
*.tfstate
*.tfstate.backup