# ansible-vault encrypted secrets
# To create: ansible-vault create secrets.yml
# To edit:   ansible-vault edit secrets.yml
# To run:    ansible-playbook deploy.yml --ask-vault-pass

github_client_id: "your_github_client_id"
github_client_secret: "your_github_client_secret"
github_webhook_secret: "your_webhook_secret"
secret_key: "your_jwt_secret_key"
github_repo_url: "https://github.com/YOUR_USERNAME/codeguard.git"
aws_region: "us-east-1"
s3_reports_bucket: "codeguard-reports-production"
s3_backups_bucket: "codeguard-backups-production"
